<link href="~/Content/ChatStyles.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400i,900" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/CompanyListings/CompanyListingsFunctions.js"></script>

<h2 id="CompanyNameDisplay">@ViewBag.CompanyName</h2>

<br />
<p>Email: @ViewBag.CompanyInfo.email</p>
<br />
<p>Phone Number: @ViewBag.CompanyInfo.phoneNumber</p>
<br />
<p>@ViewBag.CompanyName can be found at these locations:</p>
<br />
@foreach (string location in ViewBag.CompanyInfo.locations)
{
    <p style="padding-left:4em;">@location</p>
    <br />
}

<div style="height:100px">
    <h4>Write a review for @ViewBag.CompanyName</h4>
    @using (Html.BeginForm("SaveReview", "CompanyDisplay", FormMethod.Post,
        new { id = "reviewForm" }))
    {
        <div class="container" style="test-align:left;">
            @Html.TextBox("reviewData", null, new { @placeholder = "review" })
        </div>
        <div style="text-align:center;">
            <input type="submit" value="Save" style="float:left;" />
        </div>
    }
</div>
<br /><br />

<div style="height:100px">
    <h4>Start a conversation with @ViewBag.CompanyName</h4>
    <div style="width:400px; float:left">
        <textarea class="messagetextarea" id="textUserMessage" placeholder="Enter your message here." rows="3"></textarea>
    </div>
    <div style="float:left">
        <button class="sendbutton" id="SendMessageButton">Send</button>
    </div>
</div>
<br /><br />
